/* Hoja de estilos formulario */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

/* Variables */
:root{

	/* ## Colors */
	--beaver: hsl(27, 22%, 51%);
	--cod: hsl(0, 0%, 7%);
	--mirage: hsl(234, 30%, 13%);
	--clay: hsl(218, 21%, 18%);
	--shuttle: hsl(217, 14%, 42%);
	--white: hsl(0, 0%, 100%);
  --error: hsl(0, 43%, 50%);

	/* Fonts */
	--spartan: 'League Spartan', sans-serif;
	--light: 300;
	--regular: 400;
	--semibold: 600;
	--bold: 700;
}

/* Design */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--spartan);
	font-weight: var(--regular);
}
.booking{
	width: 100vw;
	height: 419.73vw;
}
.booking .page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 38.12% 33.93% 27.95%;
	grid-template-columns: 100%;
}
.booking .masthead{
    justify-self: stretch;
    align-self: stretch;
    background-image: url('../images/booking/hero-bg-mobile@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 14.93% 6.4% 60.8%;
    display: grid;
    color: var(--white);
}
.booking .masthead .entry-content{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 24.05% 16.77% 38.92% 20.25%;
    grid-template-columns: 100%;
}
.booking .masthead .entry-content .logo{
    justify-self: center;
    align-self: start;
    object-fit: contain;
    object-position: top;
}
.booking .masthead .entry-content .entry-tittle{
    justify-self: stretch;
    align-self: start;
    font-size: 32px;
    font-size: 2rem;
    line-height: 40px;
    line-height: 2.5rem;
    font-weight: var(--light);
    letter-spacing: -0.4px;
    text-align: center;
}
.booking .masthead .entry-content .entry-summary{
    justify-self: stretch;
    align-self: start;
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    text-align: center;
}
.booking .masthead .entry-content .entry-button{
    justify-self: center;
    align-self: stretch;
    width: 74.92%;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 16px;
    line-height: 1rem;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}
.formulary{
  justify-self: stretch;
  align-self: stretch;
  display: grid;
}
.formulary .entry-lines{
  display: none;
}
.formulary .entry-form{
  justify-self: stretch;
  align-self: stretch;
  margin: -35.23% 6.4% 21.53%;
  background-color: var(--white);
  box-shadow: 0px 4px 60px -30px var(--shuttle);
  display: grid;
  color: var(--cod)
}
.formulary .entry-form ul{
  justify-self: stretch;
  align-self: stretch;
  padding: 9.07% 8.53% 8.53%;
  display: grid;
  grid-template-rows: 8.13% 8.13% 14.93% 14.93% 7.75% 12.1%;
  grid-template-columns: 100%;
  grid-row-gap: 6.806%;
}
.formulary .entry-form ul li{
  justify-self: stretch;
  align-self: stretch;
}
.formulary .entry-form ul li label{
  font-size: 20px;
	font-size: 1.25rem;
	line-height: 28px;
	line-height: 1.75rem;
}
.formulary .entry-form ul li input{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #979797;
  padding-left: 4.27%;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  color: var(--cod);
}
.formulary .entry-form ul li input:focus{
  border-bottom: 2px solid var(--beaver);
  color: var(--cod);
  outline: transparent;
}
.formulary .entry-form ul .input-error{
  border-bottom: 1px solid var(--error);
  color: var(--error);
}
.formulary .entry-form ul .input-error::placeholder{
  color: var(--error);
}
.formulary .entry-form ul li .error{
  display: none;
  font-size: 10px;
  font-size: 0.625rem;
  letter-spacing: -0.13px;
  color: var(--error);
  margin-top: 1%;
}
.formulary .entry-form ul li input::placeholder{
  opacity: 0.5;
}
.formulary .entry-form ul .li-date{
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid-template-rows: 35.44% 54.43%;
  grid-template-columns: 27.76% 27.76% 33.46%;
  grid-row-gap: 10.13%;
  grid-column-gap: 5.51%;
}
.formulary .entry-form ul .li-date label{
  grid-row: 1/2;
  grid-column: 1/4;
}
.formulary .entry-form ul .li-date input{
  padding-left: 15.3%;
}
.formulary .entry-form ul .li-date .error,
.formulary .entry-form ul .li-time .error{
  grid-column: 1/4;
}
.formulary .entry-form ul .li-time{
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid-template-rows: 35.44% 54.43%;
  grid-template-columns: 27.76% 27.76% 33.46%;
  grid-row-gap: 10.13%;
  grid-column-gap: 5.51%;
}
.formulary .entry-form ul .li-time label{
  grid-row: 1/2;
  grid-column: 1/4;
}
.formulary .entry-form ul .li-time input{
  padding-left: 15.3%;
}
.formulary .entry-form ul .li-time select{
  border-bottom: 1px solid #979797;
  font-size: 20px;
	font-size: 1.25rem;
	line-height: 28px;
	line-height: 1.75rem;
  color: var(--cod);
  padding-left: 15.3%;
}
.formulary .entry-form ul .li-time select:hover{
  cursor: pointer;
}
.formulary .entry-form ul .li-people{
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 9.13% 27.38% 9.13%;
  grid-column-gap: 27.18%;
  border-bottom: 1px solid #979797;
}
.formulary .entry-form ul .li-people button{
  width: 25%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}
.formulary .entry-form ul .li-people .entry-icon-minus{
  justify-self: end;
  align-self: center;
  background-image: url('../images/icons/icon-minus.svg');
}
.formulary .entry-form ul .li-people .count_people{
  justify-self: center;
  align-self: center;
  font-size: 20px;
	font-size: 1.25rem;
	line-height: 24px;
	line-height: 1.5rem;
  letter-spacing: -0.25px;
  font-weight: var(--bold);
  color: var(--cod);
  text-align: center;
}
.formulary .entry-form ul .li-people .entry-icon-plus{
  justify-self: start;
  align-self: center;
  background-image: url('../images/icons/icon-plus.svg');
}
.formulary .entry-form ul .li-people .entry-icon-minus:hover,
.formulary .entry-form ul .li-people .entry-icon-plus:hover{
  cursor: pointer;
}
.formulary .entry-form ul .entry-button{
  justify-self: stretch;
  align-self: stretch;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 28px;
  line-height: 1.75rem;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--cod);
  color: var(--white);
}
.formulary .entry-form ul .entry-button:hover{
  cursor: pointer;
  background-color: transparent;
  color: var(--cod);
  border: 1px solid var(--cod);
}
.footer{
	justify-self: stretch;
	align-self: stretch;
	background-color: var(--cod);
	color: var(--white);
	padding: 21.33% 6.4% 20.8%;
	display: grid;
	grid-template-rows: 17.72% 29.79% 29.79%;
	grid-template-columns: 100%;
	grid-row-gap: 11.35%;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 28px;
	line-height: 1.75rem;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}
.footer .footer-logo{
	justify-self: center;
	align-self: start;
	object-fit: contain;
	object-position: top;
}
.footer .entry-info{
	justify-self: center;
	align-self: stretch;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 100%;
}
.footer .entry-calendar{
	justify-self: center;
	align-self: stretch;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 100%;
}
/* 
##Device = Mobiles
##Screen = narrow screens
*/
@media (max-width: 320px) {
  .booking .masthead .entry-content .entry-tittle{
    font-size: 28px;
		font-size: 1.75rem;
		line-height: 36px;
		line-height: 2.25rem;
  }
  .booking .masthead .entry-content .entry-summary{
    font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
  }
  .booking .masthead .entry-content .entry-button{
    font-size: 14px;
		font-size: 0.875rem;
  }
  .formulary .entry-form ul li label{
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
		line-height: 1.375rem;
  }
  .formulary .entry-form ul li input{
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
		line-height: 1.375rem;
  }
  .formulary .entry-form ul .li-time select{
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
		line-height: 1.375rem;
  }
  .formulary .entry-form ul .li-people .count_people{
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 22px;
		line-height: 1.375rem;
  }
  .formulary .entry-form ul .entry-button{
    font-size: 14px;
		font-size: 0.875rem;
		line-height: 24px;
		line-height: 1.5rem;
  }
  .footer{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
}
/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) {
  .booking{
    width: 100vw;
    height: 177.474vw;
  }
  .booking .page{
    grid-template-rows: 44.02% 31.91% 24.07%;
  }
  .booking .masthead{
    background-image: url('../images/booking/hero-bg-tablet@2x.jpg');
    padding: 7.29% 5.14% 34.9%;
  }
  .booking .masthead .entry-content{
      grid-template-rows: 39.86% 27.54% 32.6% 0%;
  }
  .booking .masthead .entry-content .logo{
    justify-self: start;
  }
  .booking .masthead .entry-content .entry-tittle{
      font-size: 48px;
      font-size: 3rem;
      line-height: 64px;
      line-height: 4rem;
      letter-spacing: -0.6px;
  }
  .booking .masthead .entry-content .entry-summary{
      padding: 0 8.42%;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 30px;
      line-height: 1.875rem;
  }
  .booking .masthead .entry-content .entry-button{
      display: none;
  }
  .formulary .entry-form{
    margin: -29.95% 14.84% 15.62%;
  }
  .formulary .entry-form ul{
    padding: 9.26% 8.89% 8.89%;
    grid-template-rows: repeat(4, 9.62%) 9.17% 14.32%;
    grid-row-gap: 7.606%;
  }
  .formulary .entry-form ul .li-date,
  .formulary .entry-form ul .li-time{
    grid-template-rows: 100%;
    grid-template-columns: 34.91% 18.02% 18.02% 21.85%;
    grid-row-gap: 0;
    grid-column-gap: 2.4%;
  }
  .formulary .entry-form ul .li-date label,
  .formulary .entry-form ul .li-time label{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .footer{
		padding: 8.2% 5.14%;
		grid-template-rows: repeat(2, 42%);
		grid-template-columns: 15.01% 66.18%;
		grid-row-gap: 16%;
		grid-column-gap: 18.81%;
		text-align: start;
	}
	.footer .footer-logo{
		grid-row: 1/2;
		grid-column: 1/2;
		justify-self: start;
	}
	.footer .entry-info{
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: start;
	}
	.footer .entry-calendar{
		grid-row: 2/3;
		grid-column: 2/3;
		justify-self: start;
	}
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
	.booking{
    width: 100vw;
    height: 80.486vw;
  }
  .booking .page{
    grid-template-rows: 51.77% 27.52% 20.71%;
  }
  .booking .masthead{
    background-image: url('../images/booking/hero-bg-desktop@2x.jpg');
    padding: 4.51% 57.64% 10.69% 11.46%;
  }
  .booking .masthead .entry-content{
    grid-template-rows: 50.66% 25.72% 23.62% 0%;
  }
  .booking .masthead .entry-content .entry-tittle{
    justify-self: start;
    text-align: start;
    font-size: 80px;
    font-size: 5rem;
    line-height: 80px;
    line-height: 5rem;
    letter-spacing: -1px;
  }
  .booking .masthead .entry-content .entry-summary{
    justify-self: start;
    text-align: start;
    padding: 0;
  }
  .formulary {
    background-image: url('../images/patterns/pattern-curve-bottom-right.svg');
		background-repeat: no-repeat;
		background-position: left;
  }
  .formulary .entry-lines{
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    margin: 11.46% 43.4% 5.42% 45.49%;
    align-self: stretch;
    justify-self: stretch;
    object-fit: contain;
    object-position: center;
  }
  .formulary .entry-form{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: -23.75% 11.46% 8.06% 51.04%;
  }
  .formulary .entry-form ul .li-date label,
  .formulary .entry-form ul .li-time label{
    align-self: center;
  }
  .footer{
		padding: 5.42% 11.46%;
		grid-template-rows: 100%;
		grid-template-columns: 26.67% 33.15% 40.18%;
		grid-row-gap: 0;
		grid-column-gap: 0;
		text-align: start;
	}
	.footer .entry-info{
		grid-row: 1/2;
		grid-column: 2/3;
	}
	.footer .entry-calendar{
		grid-row: 1/2;
		grid-column: 3/4;
	}
}