/* Hoja de estilos principal */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

@keyframes scale-display {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* Variables */
:root{
	/* ## Colors */
	--beaver: hsl(27, 22%, 51%);
	--cod: hsl(0, 0%, 7%);
	--mirage: hsl(234, 30%, 13%);
	--clay: hsl(218, 21%, 18%);
	--shuttle: hsl(217, 14%, 42%);
	--white: hsl(0, 0%, 100%);

	/* Fonts */
	--spartan: 'League Spartan', sans-serif;
	--light: 300;
	--regular: 400;
	--semibold: 600;
	--bold: 700;
}

/* Buttons */
.dark-button {
	background-color: transparent;
	color: var(--white);
	border: 1px solid var(--white);
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 16px;
	line-height: 1rem;
	font-weight: var(--semibold);
	letter-spacing: 2.5px;
}
.dark-button:hover {
	background-color: var(--white);
	color: var(--mirage);
	border: none;
	cursor: pointer;
}
.dark-button:disabled {
	opacity: 0.25;
}
.light-button {
	background-color: transparent;
	color: var(--cod);
	border: 1px solid var(--cod);
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 16px;
	line-height: 1rem;
	font-weight: var(--semibold);
	letter-spacing: 2.5px;
}
.light-button:hover {
	background-color: var(--cod);
	color: var(--white);
	border: none;
	cursor: pointer;
}
.light-button:disabled {
	opacity: 0.25;
}
a{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
}

/* Design */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--spartan);
	font-weight: var(--regular);
}
.home{
	width: 100vw;
	height: 1529.067vw;
}
.home .page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 11.78% 1.26% 25.36% 30% 18.21% 5.72% 7.67%;
	grid-template-columns: 100%;
}
.masthead{
	grid-row: 1/3;
	grid-column: 1/2;
	justify-self: stretch;
	align-self: stretch;
	background-image: url('../images/homepage/hero-bg-mobile@2x.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}
.masthead .entry-content{
	justify-self: stretch;
	align-self: stretch;
	padding: 63.74% 6.4% 41.76%;
	display: grid;
	grid-template-rows: 18.68% 27.75% 35.99% 17.58%;
	grid-template-columns: 100%;
	color: var(--white);
}
.masthead .entry-content .logo{
	justify-self: center;
	align-self: start;
	width: 25.2%;
	height: auto;
	object-fit: contain;
	object-position: top;
}
.masthead .entry-content .entry-tittle{
	justify-self: center;
	align-self: start;
	font-size: 32px;
	font-size: 2rem;
	line-height: 40px;
	line-height: 2.5rem;
	font-weight: var(--light);
	letter-spacing: -0.4px;
	text-align: center;
}
.masthead .entry-content .entry-summary{
	justify-self: center;
	align-self: start;
	font-size: 16px;
	font-size: 1rem;
	line-height: 26px;
	line-height: 1.625rem;
	text-align: center;
}
.masthead .entry-content .entry-button{
	justify-self: center;
	align-self: start;
	width: 74.92%;
	height: 100%;
	text-transform: uppercase;
}
.main{
	grid-row: 2/4;
	grid-column: 1/2;
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: repeat(2, 43.38%);
	grid-template-columns: 100%;
	grid-row-gap: 6.62%;
}
.main .entry-item{
	justify-self: stretch;
	align-self: stretch;
	padding: 0 6.4%;
	display: grid;
	grid-template-rows: 60.42% 32.33%;
	grid-template-columns: 100%;
	grid-row-gap: 7.25%;
}
.main .entry-item .entry-thumbnail{
	align-self: stretch;
	justify-self: stretch;
}
.main .entry-item .entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.main .entry-item .entry-lines{
	display: none;
}
.main .entry-item .entry-content{
	align-self: stretch;
	justify-self: stretch;
	display: grid;
	grid-template-rows: 20.09% 43.46% 36.45%;
	grid-template-columns: 100%;
}
.main .entry-item .entry-content .entry-icon{
	justify-self: center;
	align-self: start;
	object-fit: contain;
	object-position: top;
}
.main .entry-item .entry-content .entry-tittle{
	justify-self: center;
	align-self: start;
	font-size: 32px;
	font-size: 2rem;
	line-height: 40px;
	line-height: 2.5rem;
	font-weight: var(--bold);
	letter-spacing: -0.4px;
	text-align: center;
	color: var(--clay);
}
.main .entry-item .entry-content .entry-summary{
	justify-self: center;
	align-self: start;
	font-size: 16px;
	font-size: 1rem;
	line-height: 26px;
	line-height: 1.625rem;
	text-align: center;
	color: var(--clay);
}
.menu{
	justify-self: stretch;
	align-self: stretch;
	background-color: var(--cod);
	color: var(--white);
	padding: 19.2% 6.4% 27.2%;
	display: grid;
	grid-template-rows: 13.84% 80.66%;
	grid-template-columns: 100%;
	grid-row-gap: 5.5%;
}
.menu .entry-header{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 20.09% 43.46% 36.45%;
	grid-template-columns: 100%;
}
.menu .entry-header .entry-icon{
	justify-self: center;
	align-self: start;
	object-fit: contain;
	object-position: top;
}
.menu .entry-header .entry-tittle{
	justify-self: center;
	align-self: start;
	font-size: 32px;
	font-size: 2rem;
	line-height: 40px;
	line-height: 2.5rem;
	font-weight: var(--bold);
	letter-spacing: -0.4px;
	text-align: center;
}
.menu .entry-header .entry-summary{
	justify-self: center;
	align-self: start;
	font-size: 16px;
	font-size: 1rem;
	line-height: 26px;
	line-height: 1.625rem;
	text-align: center;
}
.menu .entry-dishes{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 33.52% 33.52% 29.11%;
	grid-template-columns: 100%;
	grid-row-gap: 1.92%;
}
.menu .entry-dishes .entry-dish{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 58.61% 32.78%;
	grid-template-columns: 100%;
	grid-row-gap: 8.61%;
	border-bottom: 1px solid var(--beaver);
}
.menu .entry-dishes #chocolate{
	grid-template-rows: 67.49% 32.78%;
	grid-row-gap: 9.92%;
	border-bottom: none;
}
.menu .entry-dishes .entry-dish .entry-thumbnail{
	justify-self: stretch;
	align-self: stretch;
}
.menu .entry-dishes .entry-dish .entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.menu .entry-dishes .entry-dish .entry-line{
	display: none;
}
.menu .entry-dishes .entry-dish .entry-content{
	justify-self: stretch;
	align-self: stretch;
	height: 59.85%;
	display: grid;
	grid-template-rows: 29.27% 63.41%;
	grid-template-columns: 100%;
	grid-row-gap: 7.32%;
}
.menu .entry-dishes #chocolate .entry-content{
	height: 68.91%;
}
.menu .entry-dishes .entry-dish .entry-content .entry-tittle{
	justify-self: center;
	align-self: start;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 24px;
	line-height: 1.5rem;
	font-weight: var(--bold);
	letter-spacing: -0.25px;
	text-align: center;
}
.menu .entry-dishes .entry-dish .entry-content .entry-summary{
	justify-self: center;
	align-self: start;
	font-size: 16px;
	font-size: 1rem;
	line-height: 26px;
	line-height: 1.625rem;
	text-align: center;
}
.events{
	justify-self: stretch;
	align-self: stretch;
	padding: 21.33% 6.4% 33.07%;
	display: grid;
}
.events .entry-event{
	justify-self: stretch;
	align-self: stretch;
	display: none;
	grid-template-rows: 47.62% 16.43% 18.69% 7.63%;
	grid-template-columns: 100%;
	grid-row-gap: 3.21%;
}
.events .event-active{
	display: grid;
	animation: scale-display .3s linear;
}
.events .entry-event .entry-thumbnail{
	justify-self: stretch;
	align-self: stretch;
}
.events .entry-event .entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	box-shadow: 0px 4px 60px -30px var(--shuttle);
}
.events .entry-event .entry-lines{
	display: none;
}
.events .entry-event .entry-links{
	justify-self: stretch;
	align-self: stretch;
	padding-top: 5.87%;
	display: grid;
	grid-template-rows: repeat(3, 24.14%);
	grid-template-columns: 100%;
	grid-row-gap: 13.79%;
}
.events .entry-event .entry-links button{
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 28px;
	line-height: 1.75rem;
	letter-spacing: 2.5px;
	font-weight: var(--semibold);
	text-transform: uppercase;	
	background-color: transparent;
	color: var(--shuttle);
	opacity: 0.5;
}

.events .entry-event .entry-links button:hover{
	opacity: 1;
	cursor: pointer;
}
.events .entry-event .entry-links .active{
	opacity: 1;
}
.events .entry-event .entry-links .active::after{
	content: "";
	display: block;
	margin: 0 auto;
	width: 15%;
	border-bottom: 1px solid var(--shuttle);
}
.events .entry-event .entry-content{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 25.48% 66.24%;
	grid-template-columns: 100%;
	grid-row-gap: 8.28%;
}
.events .entry-event .entry-content .entry-tittle{
	justify-self: center;
	align-self: start;
	font-size: 32px;
	font-size: 2rem;
	line-height: 40px;
	line-height: 2.5rem;
	font-weight: var(--bold);
	letter-spacing: -0.4px;
	text-align: center;
	color: var(--clay);
}
.events .entry-event .entry-content .entry-summary{
	justify-self: center;
	align-self: start;
	font-size: 16px;
	font-size: 1rem;
	line-height: 26px;
	line-height: 1.625rem;
	text-align: center;
	color: var(--clay);
}
.events .entry-event .entry-button{
	justify-self: center;
	align-self: stretch;
	width: 74.92%;
	height: 100%;
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 16px;
	line-height: 1rem;
	letter-spacing: 2.5px;
	text-transform: uppercase;	
	background-color: var(--cod);
	color: var(--white);
}
.events .entry-event .entry-button:hover{
	background-color: transparent;
	color: var(--cod);
	border: 1px solid var(--cod);
	cursor: pointer;
}
.reservation{
	justify-self: stretch;
	align-self: stretch;
	padding: 22.4% 6.4% 21.33%;
	background-image: url('../images/homepage/ready-bg-mobile@2x.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: grid;
	grid-template-rows: 48.78% 39.02%;
	grid-template-columns: 100%;
	grid-row-gap: 12.2%;
	color:var(--white);
}
.reservation .entry-tittle{
	justify-self: center;
	align-self: start;
	font-size: 32px;
	font-size: 2rem;
	line-height: 40px;
	line-height: 2.5rem;
	font-weight: var(--bold);
	letter-spacing: -0.4px;
	text-align: center;
}
.reservation .entry-button{
	justify-self: center;
	align-self: stretch;
	width: 74.92%;
	height: 100%;
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 16px;
	line-height: 1rem;
	letter-spacing: 2.5px;
	text-transform: uppercase;	
	background-color: transparent;
	color: var(--white);
	border: 1px solid var(--white);
}
.reservation .entry-button:hover{
	background-color: var(--white);
	color: var(--cod);
	border: none;
	cursor: pointer;
}
.footer{
	justify-self: stretch;
	align-self: stretch;
	background-color: var(--cod);
	color: var(--white);
	padding: 21.33% 6.4% 20.8%;
	display: grid;
	grid-template-rows: 17.72% 29.79% 29.79%;
	grid-template-columns: 100%;
	grid-row-gap: 11.35%;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 28px;
	line-height: 1.75rem;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}
.footer .footer-logo{
	justify-self: center;
	align-self: start;
	object-fit: contain;
	object-position: top;
}
.footer .entry-info{
	justify-self: center;
	align-self: stretch;
	width: 100%;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 100%;
}
.footer .entry-calendar{
	justify-self: center;
	align-self: stretch;
	width: 100%;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 100%;
}
/* 
##Device = Mobiles
##Screen = narrow screens
*/
@media (max-width: 320px) {
	.masthead .entry-content .entry-tittle{
		font-size: 28px;
		font-size: 1.75rem;
		line-height: 36px;
		line-height: 2.25rem;
	}
	.masthead .entry-content .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.masthead .entry-content .entry-button{
		font-size: 12px;
		font-size: 0.75rem;
	}
	.main .entry-item .entry-content .entry-tittle{
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 34px;
		line-height: 2.125rem;
	}
	.main .entry-item .entry-content .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.menu .entry-header .entry-tittle{
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 34px;
		line-height: 2.125rem;
	}
	.menu .entry-header .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.menu .entry-dishes .entry-dish .entry-content .entry-tittle{
		font-size: 16px;
		font-size: 1rem;
		line-height: 20px;
		line-height: 1.25rem;
	}
	.menu .entry-dishes .entry-dish .entry-content .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.events .entry-event .entry-links button{
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 24px;
		line-height: 1.5rem;
	}
	.events .entry-event .entry-content .entry-tittle{
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 34px;
		line-height: 2.125rem;
	}
	.events .entry-event .entry-content .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.events .entry-event .entry-button{
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 24px;
		line-height: 1.5rem;
	}
	.reservation .entry-tittle{
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 34px;
		line-height: 2.125rem;
	}
	.reservation .entry-button{
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 24px;
		line-height: 1.5rem;
	}
	.footer{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
}
/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) {
	.home{
		width: 100vw;
		height: 650.26vw;
	}
	.home .page{
		grid-template-rows: 17.94% 1.92% 29.84% 17.84% 20.44% 5.45% 6.57%;
	}
	.masthead{
		background-image: url('../images/homepage/hero-bg-tablet@2x.jpg');
	}
	.masthead .entry-content{
		padding: 48.7% 5.14% 28.12%;
		grid-template-rows: 19.4% 36.82% 27.86% 15.92%;
	}
	.masthead .entry-content .logo{
		width: 14.95%;
	}
	.masthead .entry-content .entry-tittle{
		width: 100%;
		font-size: 48px;
		font-size: 3rem;
		line-height: 64px;
		line-height: 4rem;
		letter-spacing: -0.6px;
	}
	.masthead .entry-content .entry-summary{
		width: 83.16%;
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 30px;
		line-height: 1.875rem;
	}
	.masthead .entry-content .entry-button{
		width: 35.56%;
	}
	.main{
		grid-template-rows: repeat(2, 42.56%);
		grid-row-gap: 7.44%;
		background-image: url('../images/patterns/pattern-curve-top-right.svg'), url('../images/patterns/pattern-curve-top-left.svg');
		background-repeat: no-repeat;
		background-position-x: -517px, 384px;
		background-position-y: 196px, 100%;
	}
	.main .entry-item{
		padding: 0 12.7%;
		grid-template-rows: 25.48% 19.55% 38.37%;
		grid-row-gap: 8.3%;
	}
	.main .entry-item .entry-thumbnail{
		grid-row: 1/3;
		grid-column: 1/2;
	}
	.main .entry-item .entry-lines{
		grid-row: 2/3;
		grid-column: 1/2;
		display: flex;
		justify-self: end;
		margin-right: -10.12%;
	}
	.main .entry-item .entry-content{
		grid-template-rows: 17.76% 47.49% 34.75%;
		padding: 0 10.12%;
	}
	.main .entry-item .entry-content .entry-tittle{
		font-size: 48px;
		font-size: 3rem;
		line-height: 48px;
		line-height: 3rem;
		letter-spacing: -0.5px;
	}
	.main .entry-item .entry-content .entry-summary{
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 30px;
		line-height: 1.875rem;
	}
	.menu{
		padding: 12.5% 12.7%;
		grid-template-rows: 37.05% 55.22%;
		grid-row-gap: 7.73%;
	}
	.menu .entry-header{
		grid-template-rows: 17.76% 47.49% 34.75%;
		padding: 0 11.17%;
	}
	.menu .entry-header .entry-tittle{
		font-size: 48px;
		font-size: 3rem;
		line-height: 48px;
		line-height: 3rem;
		letter-spacing: -0.5px;
	}
	.menu .entry-header .entry-summary{
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 30px;
		line-height: 1.875rem;
	}
	.menu .entry-dishes{
		grid-template-rows: repeat(2, 31.09%) 24.87%;
		grid-row-gap: 6.22%;
	}
	.menu .entry-dishes .entry-dish{
		grid-template-rows: 100%;
		grid-template-columns: 22.34% 10.82% 66.84%;
		grid-row-gap: 0;
		padding-bottom: 4.01%;
	}
	.menu .entry-dishes #chocolate{
		grid-template-rows: 100%;
		grid-template-columns: 22.34% 10.82% 66.84;
		grid-row-gap: 0;
		padding-bottom: 0;
	}
	.menu .entry-dishes .entry-dish .entry-line{
		display: grid;
		width: 32px;
		height: 1px;
		margin-top: 8px;
		justify-self: start; 
	}
	.menu .entry-dishes .entry-dish .entry-content{
		grid-column: 3/4;
		height: 85.42%;
	}
	.menu .entry-dishes #chocolate .entry-content{
		height: 85.42%;
	}
	.menu .entry-dishes .entry-dish .entry-content .entry-tittle{
		justify-self: start;
		text-align: start;
	}
	.menu .entry-dishes .entry-dish .entry-content .entry-summary{
		justify-self: start;
		text-align: start;
	}
	.events{
		padding: 15.62% 5.14%;
		background-image: url('../images/patterns/pattern-curve-top-right.svg');
		background-repeat: no-repeat;
		background-position: top;
		background-position-x: -517px;
	}
	.events .entry-event{
		grid-template-rows: 9.73% 29.36% 4.61% 20.11% 8.19%;
		grid-row-gap: 7%;
	}
	.events .entry-event .entry-thumbnail{
		grid-row: 1/3;
		grid-column: 1/2;
		padding: 0 8.42%;
	}
	.events .entry-event .entry-lines{
		grid-row: 1/2;
		grid-column: 1/2;
		display: flex;
		margin-top: -4.95%;
	}
	.events .entry-event .entry-links{
		padding: 0;
		grid-template-rows: 100%;
		grid-template-columns: repeat(3, 32.37%);
		grid-row-gap: 0;
		grid-column-gap: 1.445%;
	}
	.events .entry-event .entry-content{
		grid-template-rows: 30.57% 57.32%;
		grid-template-columns: 100%;
		grid-row-gap: 12.11%;
		padding: 0 16.84%;
	}
	.events .entry-event .entry-content .entry-tittle{
		font-size: 48px;
		font-size: 3rem;
		line-height: 48px;
		line-height: 3rem;
		letter-spacing: -0.5px;
	}
	.events .entry-event .entry-content .entry-summary{
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 30px;
		line-height: 1.875rem;
	}
	.events .entry-event .entry-button{
		width: 35.56%;
	}
	.reservation{
		padding: 8.86% 9.96%;
		background-image: url('../images/homepage/ready-bg-tablet@2x.jpg');
		grid-template-rows: 35.29% 47.06%;
		grid-row-gap: 17.65%;
	}
	.reservation .entry-tittle{
		font-size: 48px;
		font-size: 3rem;
		line-height: 48px;
		line-height: 3rem;
		letter-spacing: -0.5px;
	}
	.reservation .entry-button{
		width: 39.84%;
	}
	.footer{
		padding: 8.2% 5.14%;
		grid-template-rows: repeat(2, 42%);
		grid-template-columns: 15.01% 66.18%;
		grid-row-gap: 16%;
		grid-column-gap: 18.81%;
		text-align: start;
	}
	.footer .footer-logo{
		grid-row: 1/2;
		grid-column: 1/2;
		justify-self: start;
	}
	.footer .entry-info{
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: start;
	}
	.footer .entry-calendar{
		grid-row: 2/3;
		grid-column: 2/3;
		justify-self: start;
	}
 }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
	.home{
		width: 100vw;
		height: 305vw;
	}
	.home .page{
		grid-template-rows: 17.08% 1.59% 32.13% 17.33% 20.95% 5.46% 5.46%;
	}
	.masthead{
		background-image: url('../images/homepage/hero-bg-desktop@2x.jpg');
	}
	.masthead .entry-content{
		padding: 4.51% 53.33% 13.75% 11.46%;
		grid-template-rows: 34.65% 30.52% 23.34% 11.49%;
	}
	.masthead .entry-content .logo{
		justify-self: start;
		width: 20.32%;
	}
	.masthead .entry-content .entry-tittle{
		justify-self: start;
		font-size: 64px;
		font-size: 4rem;
		line-height: 64px;
		line-height: 4rem;
		letter-spacing: -1px;
		text-align: start;
	}
	.masthead .entry-content .entry-summary{
		justify-self: start;
		width: 87.6%;
		text-align: start;
	}
	.masthead .entry-content .entry-button{
		justify-self: start;
		width: 48.23%;
	}
	.main{
		grid-template-rows: repeat(2, 48.62%);
		grid-row-gap: 8.17%;
		background-position-x: 0px, 545px;
		background-position-y: 320px, 100%;
	}
	.main .entry-item{
		padding: 0 11.46%;
		grid-template-rows: 34.31% 38.19% 27.47%;
		grid-template-columns: repeat(2, 50%);
		grid-row-gap: 0;
		z-index: 1;
	}
	.main .entry-item .entry-thumbnail{
		grid-row: 1/4;
		grid-column: 1/2;
		padding-right: 2.7%;
	}
	.main .entry-item .entry-content{
		grid-row: 2/3;
		grid-column: 2/3;
		grid-template-rows: 22.55% 44.73% 32.72%;
		padding: 0 0 0 19.82%;
	}
	.main .entry-item .entry-content .entry-icon{
		justify-self: start;
	}
	.main .entry-item .entry-content .entry-tittle{
		justify-self: start;
		text-align: start;
	}
	.main .entry-item .entry-content .entry-summary{
		justify-self: start;
		text-align: start;
	}
	.main #food{
		padding: 0 11.46%;
		grid-template-rows: 27.78% 38.19% 34.03%;
		grid-template-columns: repeat(2, 50%);
		grid-row-gap: 0;
		z-index: 1;
	}
	.main #food .entry-thumbnail{
		grid-row: 1/4;
		grid-column: 2/3;
		padding-left: 2.7%;
	}
	.main #food .entry-lines{
		grid-row: 2/3;
		grid-column: 2/3;
		display: flex;
		justify-self: end;
		margin-right: -17.11%;
		margin-top: 14.78%;
	}
	.main #food .entry-content{
		grid-row: 2/3;
		grid-column: 1/2;
		grid-template-rows: 22.55% 44.73% 32.72%;
		padding: 0 19.82% 0 0;
	}
	.menu{
		padding: 13.89% 11.46% 8.33%;
		grid-template-rows: 100%;
		grid-template-columns: 40.10% 48.65%;
		grid-row-gap: 0;
		grid-column-gap: 11.25%;
	}
	.menu .entry-header{
		grid-template-rows: 22.54% 44.73% 32.73%;
		padding: 0 0 19.1%;
	}
	.menu .entry-header .entry-icon,
	.menu .entry-header .entry-tittle,
	.menu .entry-header .entry-summary{
		justify-self: start;
		text-align: start;
	}
	.menu .entry-dishes{
		padding-top: 10.19%;
	}
	.menu .entry-dishes .entry-dish{
		grid-template-rows: 100%;
		grid-template-columns: 22.34% 10.82% 66.84%;
		grid-row-gap: 0;
	}
	.events{
		padding: 11.11% 11.46%; 
		background-position-x: -350px;
	}
	.events .entry-event{
		grid-template-rows: 11.67% 36.17% 10.57% 12.1% 29.49%;
		grid-template-columns: 48.65% 11.26% 40.09%;
		grid-row-gap: 0;
	}
	.events .entry-event .entry-thumbnail{
		grid-row: 1/6;
		grid-column: 1/2;
		padding: 0;
	}
	.events .entry-event .entry-lines{
		margin-top: -7.04%;
		margin-left: -7.27%;
	}
	.events .entry-event .entry-links{
		justify-self: stretch;
		align-self: stretch;
		width: 64.74%;
		grid-row: 5/6;
		grid-column: 3/4;
		padding-bottom: 11.45%;
		grid-template-rows: repeat(3, 25.93%);
		grid-template-columns: 100%;
		grid-row-gap: 11.105%;
		grid-column-gap: 0;
	}
	.events .entry-event .entry-links button{
		justify-self: start;
		align-self: center;
	}
	.events .entry-event .entry-links .active::after{
		display: none;
	}
	.events .entry-event .entry-links .active::before{
		content:" ";
		width: 95px;
		height: 1px;
		margin: auto 30px auto -125px;
		background-color: var(--beaver);
		display: inline-flex;
		vertical-align: middle;
	}
	.events .entry-event .entry-content{
		grid-row: 2/3;
		grid-column: 3/4;
		padding: 0 0 13.93%;
	}
	.events .entry-event .entry-content .entry-tittle,
	.events .entry-event .entry-content .entry-summary{
		justify-self: stretch;
		align-self: stretch;
		text-align: start;
	}
	.events .entry-event a{
		grid-row: 3/4;
		grid-column: 3/4;
		justify-self: stretch;
	}
	.events .entry-event .entry-button{
		width: 55.06%;
		justify-self: start;
	}
	.reservation{
		padding: 6.11% 5%;
		background-image: url('../images/homepage/ready-bg-desktop@2x.jpg');
		grid-template-rows: 100%;
		grid-template-columns: 55.41% 22.07%;
		grid-column-gap: 22.52%;
		grid-row-gap: 0;
	}
	.reservation .entry-tittle{
		align-self: center;
	}
	.reservation .entry-button{
		width: 100%;
	}
	.footer{
		padding: 5.42% 11.46%;
		grid-template-rows: 100%;
		grid-template-columns: 26.67% 33.15% 40.18%;
		grid-row-gap: 0;
		grid-column-gap: 0;
		text-align: start;
	}
	.footer .entry-info{
		grid-row: 1/2;
		grid-column: 2/3;
	}
	.footer .entry-calendar{
		grid-row: 1/2;
		grid-column: 3/4;
	}
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
	.masthead .entry-content .entry-tittle{
		font-size: 80px;
		font-size: 5rem;
		line-height: 80px;
		line-height: 5rem;
	}
	.events .entry-event .entry-links{
		width: 54.74%;
	}
	.reservation{
		padding: 6.11% 11.46%;
		background-image: url('../images/homepage/ready-bg-desktop@2x.jpg');
		grid-template-rows: 100%;
		grid-template-columns: 55.41% 22.07%;
		grid-column-gap: 22.52%;
		grid-row-gap: 0;
	}
}